<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elenaxar.moviebook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieNotes">
        <activity
            android:name="com.elenaxar.moviebook.ShowCategoryMoviesActivity"
            android:exported="false" />
        <activity
            android:name="com.elenaxar.moviebook.EditMovieActivity"
            android:exported="false" />
        <activity
            android:name="com.elenaxar.moviebook.AddNewMovieActivity"
            android:exported="false" />
        <activity
            android:name="com.elenaxar.moviebook.ShowMovieActivity"
            android:exported="false" />
        <activity
            android:name="com.elenaxar.moviebook.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>